@import 'mixins.scss';
@import 'settings.scss';
@import 'github-markdown-css/github-markdown.css';

.article-inner {
  overflow: hidden;
  background: #fff;
}

.article-header {
  display: flex;
  justify-content: space-between;
  > div > h1 {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .article-timestamp {
    font-size: 0.8em;
    color: rgb(158, 171, 179);
    margin-bottom: 0;
  }
}

.article-entry {
  color: #555;
}

.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
}
