@import 'mixins.scss';
@import 'settings.scss';
@import 'github-markdown-css/github-markdown.css';

.viewer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.article {
  margin: 50px 0;
}

.article-inner {
  overflow: hidden;
  background: #fff;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.article-header {
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  h1 {
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    font-size: 0.8em;
    color: rgb(158, 171, 179);
    margin-bottom: 0;
  }
}

.article-entry {
  color: #555;
  padding: 0 20px;
}

.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}